googletrans==4.0.0-rc1
deep-translator
textblob
vaderSentiment
pyttsx3
sounddevice
numpy
scipy
wavio
transformers
keybert
sentence-transformers
speech_utils
python-docx
gtts
fpdf
fpdf2
