openai-whisper==20240930
pyaudio==0.2.14
googletrans==4.0.0-rc1
deep-translator
transformers==4.49.0
textblob
vaderSentiment
pyttsx3
sounddevice
numpy
scipy
wavio
keybert
sentence-transformers
python-docx
gtts
fpdf
fpdf2
tf-keras
